.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.background-transparent {
    background: transparent;
}

/* MudBlazor overrides */
.mud-main-content {
    height: 100vh;
}

.mud-dialog-width-xs {
    max-width: 300px;
}

    .mud-dialog-width-xs .mud-dialog-content {
        padding: 0;
    }

.mud-dialog-title {
    min-height: 50px;
}

.mud-dialog-title > .mud-icon-button {
    padding: 6px;
}
