<MudDrawer Open="true" Elevation="1">
    <PlayerProfile></PlayerProfile>
    <MudNavMenu Color="Color.Primary" Bordered="true">
        <div @onclick="OnMapsNavigation">
            <MudNavLink Icon="@Icons.Filled.LibraryMusic"
                        DisableRipple="true"
                        Match="NavLinkMatch.All"
                        Href="/">
                Maps
            </MudNavLink>
        </div>
        <div @onclick="OnMapsNavigation">
            <MudNavLink Icon="@Icons.Filled.KeyboardDoubleArrowUp"
                        DisableRipple="true"
                        Match="NavLinkMatch.All"
                        Href="/improve">
                Improve
            </MudNavLink>
        </div>
        <PlaylistList></PlaylistList>
    </MudNavMenu>
</MudDrawer>
