@inherits ReactiveComponent

<MudDrawer Open="true" Elevation="1" Class="sidenav">
    <div class="resizer-handle" style="position: absolute;right: 0;height: 100%;background-color: red;width: 5px; z-index: 9999999;"></div>
    <PlayerProfile></PlayerProfile>
    <MudNavMenu Color="Color.Primary" Bordered="true" Class="full-height d-flex flex-column fill-remaining-space">
        @if (!string.IsNullOrEmpty(PlayerId))
        {
            <MudNavLink Icon="@Icons.Material.Filled.Home"
                        Ripple="false"
                        Match="NavLinkMatch.All"
                        Href="/">
                Home
            </MudNavLink>
        }
        <div @onclick="OnMapsNavigation">
            <MudNavLink Icon="@Icons.Material.Filled.LibraryMusic"
                        Ripple="false"
                        Match="NavLinkMatch.All"
                        Href="/maps">
                Maps
            </MudNavLink>
        </div>
        @if (!string.IsNullOrEmpty(PlayerId))
        {
            <div @onclick="OnMapsNavigation">
                <MudNavLink Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp"
                            Ripple="false"
                            Match="NavLinkMatch.All"
                            Href="/improve">
                    Improve
                </MudNavLink>
            </div>
        }
        <PlaylistList></PlaylistList>
        <div @onclick="OpenSettings" @onclick:preventDefault="true">
            <MudNavLink Icon="@Icons.Material.Filled.Settings"
                        Href="#"
                        Ripple="false">
                Settings
            </MudNavLink>
        </div>
    </MudNavMenu>
</MudDrawer>
