@inherits ReactiveComponent

<MudDrawer Open="true" Elevation="1" Class="sidenav">
    <PlayerProfile></PlayerProfile>
    <MudNavMenu Color="Color.Primary" Bordered="true" Class="full-height" Style="display: flex; flex-direction: column; flex: 1; min-height: 0;">
        <div @onclick="OnMapsNavigation">
            <MudNavLink Icon="@Icons.Filled.LibraryMusic"
                        DisableRipple="true"
                        Match="NavLinkMatch.All"
                        Href="/">
                Maps
            </MudNavLink>
        </div>
        @if (!string.IsNullOrEmpty(PlayerId))
        {
            <div @onclick="OnMapsNavigation">
                <MudNavLink Icon="@Icons.Filled.KeyboardDoubleArrowUp"
                        DisableRipple="true"
                        Match="NavLinkMatch.All"
                        Href="/improve">
                    Improve
                </MudNavLink>
            </div>
        }
        <PlaylistList></PlaylistList>
        <div class="fixed" style="width: 224px; bottom: 0; z-index: 9999; background-color: var(--mud-palette-drawer-background);">
            <div @onclick="OpenSettings" @onclick:preventDefault="true">
                <MudNavLink Icon="@Icons.Material.Filled.Settings"
                            Href="#"
                            DisableRipple="true">
                    Settings
                </MudNavLink>
            </div>
        </div>
    </MudNavMenu>
</MudDrawer>