@inherits ReactiveComponent

<MudDrawer Open="true" Elevation="1" Class="sidenav">
    <PlayerProfile></PlayerProfile>
    <MudNavMenu Color="Color.Primary" Bordered="true" Class="full-height d-flex flex-column fill-remaining-space">
        <div @onclick="OnMapsNavigation">
            <MudNavLink Icon="@Icons.Filled.LibraryMusic"
                        DisableRipple="true"
                        Match="NavLinkMatch.All"
                        Href="/">
                Maps
            </MudNavLink>
        </div>
        @if (!string.IsNullOrEmpty(PlayerId))
        {
            <div @onclick="OnMapsNavigation">
                <MudNavLink Icon="@Icons.Filled.KeyboardDoubleArrowUp"
                        DisableRipple="true"
                        Match="NavLinkMatch.All"
                        Href="/improve">
                    Improve
                </MudNavLink>
            </div>
        }
        <PlaylistList></PlaylistList>
        <div @onclick="OpenSettings" @onclick:preventDefault="true">
            <MudNavLink Icon="@Icons.Material.Filled.Settings"
                        Href="#"
                        DisableRipple="true">
                Settings
            </MudNavLink>
        </div>
    </MudNavMenu>
</MudDrawer>