@inherits ReactiveComponent

@page "/improve"

<div class="d-flex full-height">
    <ImprovementTweaker></ImprovementTweaker>
    <MapBrowser Maps="MapList" Selectable="true">
        <HeaderContent>
            <RankedMapBrowserHeader></RankedMapBrowserHeader>
        </HeaderContent>
        <RowContent>
            <RankedMapBrowserRow Map="context"></RankedMapBrowserRow>
        </RowContent>
    </MapBrowser>
</div>

@code {
    [Inject]
    protected MapService MapService { get; set; }

    IEnumerable<Map> MapList { get; set; } = new List<Map>();

    protected override void OnInitialized()
    {
        SubscribeAndBind(MapService.RankedMaps, maps => MapList = maps);
    }
}