.playlist-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
}

    .playlist-list-item img {
        width: 30px;
        float: left;
    }
