@using Markdig
@using Markdig.Extensions.MediaLinks
@using System.Text.RegularExpressions

<MudDialog>
    <DialogContent>
        <div class="markdown default-html" style="max-height: 60vh; overflow-y: auto;">
            @if (ReleaseNotesHtml is not null)
            {
                @((MarkupString)ReleaseNotesHtml)
            }
        </div>
    </DialogContent>
    <DialogActions>
        @if (UpdateAvailable)
        {
            <div class="pa-2 full-width d-flex justify-center">
                <MudButton OnClick="ApplyUpdatesAndRestart"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    Apply updates and restart
                </MudButton>
            </div>
        }
    </DialogActions>
</MudDialog>

@code {
    [Inject]
    UpdateService UpdateService { get; set; }

    [Parameter]
    public bool UpdateAvailable { get; set; } = false;

    ReleaseInfo ReleaseInfo { get; set; }

    string ReleaseNotesHtml { get; set; }

    // Regex to match Github media links
    Regex GithubMediaRegex = new Regex(@"\(?https:\/\/github\.com\/DennisvHest\/MapMaven\/assets\S*\)?");

    protected override async Task OnInitializedAsync()
    {
        ReleaseInfo = await UpdateService.GetLatestReleaseInfo();

        string releaseNotes = ReleaseInfo.Body;

        // Convert Github media links to markdown video links
        releaseNotes = GithubMediaRegex.Replace(releaseNotes, match =>
        {
            if (match.Value.StartsWith('(') || match.Value.EndsWith(')'))
                return match.Value; // Ignore markdown image links

            return $"<iframe src='{match.Value}' allowfullscreen='true' style='aspect-ratio: 16 / 9; margin: 10px 0;'></iframe>";
        });

        var pipeline = new MarkdownPipelineBuilder()
            .UseAutoLinks()
            .Build();

        ReleaseNotesHtml = Markdown.ToHtml(releaseNotes, pipeline);
    }

    void ApplyUpdatesAndRestart() => ApplicationUtils.RestartApplication();
}
