@using MapMaven.Core.Models.Data.Playlists
@using MapMaven.Models.Data.Playlists

@inherits ReactiveComponent

<div class="fill-remaining-space">
    <MudList T="string" Class="d-flex flex-column full-height" ReadOnly="false" Color="Color.Primary">
        <MudListSubheader Class="d-flex align-center justify-space-between py-2" Style="border-top: 1px solid var(--mud-palette-table-lines)">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.PlaylistPlay"></MudIcon> Playlists
            </div>
            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Size="Size.Small" OnClick="OpenAddPlaylistDialog" />
        </MudListSubheader>
        <MudTextField @bind-Value="PlaylistSearchText"
                      DebounceInterval="300"
                      Immediate="true"
                      Clearable="true"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Small"
                      Class="mx-4 mb-4 small-input">
        </MudTextField>
        @if (LoadingPlaylists)
        {
            <MudProgressCircular Color="Color.Info" Size="Size.Small" Indeterminate="true" Class="align-self-center" />
        }
        <div class="full-height" style="overflow-y: auto;">
            <MudTreeView T="Playlist" SelectedValue="SelectedPlaylist" SelectedValueChanged="OnPlaylistSelect">
                <PlaylistTreeViewFolder Folder="PlaylistTree.RootPlaylistFolder"></PlaylistTreeViewFolder>
            </MudTreeView>
        </div>
    </MudList>
</div>