@inherits ReactiveComponent

<MudDialog Class="playlist-selector-dialog">
    <DialogContent>
        <div>
            <MudTextField @bind-Value="PlaylistSearchText"
                          DebounceInterval="300"
                          Immediate="true"
                          Clearable="true"
                          Variant="Variant.Outlined"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Small"
                          Class="mx-4 mb-4 small-input">
            </MudTextField>
        </div>
        <MudTreeView T="Playlist" @ref="PlaylistTreeView" SelectedValueChanged="OnPlaylistSelect" Color="Color.Primary" ExpandOnClick="true" AutoExpand="true">
            <PlaylistTreeViewFolder Folder="PlaylistTree.RootPlaylistFolder" />
        </MudTreeView>
        <MudButton
            OnClick="CreateNewPlaylist"
            Variant="Variant.Outlined"
            Class="ma-5"
            StartIcon="@Icons.Material.Filled.Add">
            New playlist
        </MudButton>
    </DialogContent>
</MudDialog>