body {
    user-select: none;
}

.text-selectable * {
    user-select: text !important;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.background-transparent {
    background: transparent;
}

.sidenav .mud-drawer-content {
    height: 100vh;
    max-height: initial;
}

.fill-remaining-space {
    flex: 1;
    min-height: 0;
}

.validation-message {
    color: var(--mud-palette-error) !important;
    margin: 0;
    font-size: .75rem;
    text-align: start;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: .03333em;
}

.blurred-background-image {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    filter: blur(10px);
    object-fit: cover;
}

.bulk-actions-toolbar {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.leaderboard-tabs .mud-tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.mud-tab.mud-tab-active {
    background-color: rgba(255, 255, 255, 0.1);
}

.leaderboard-tabs .mud-tab-slider {
    background-color: var(--mud-palette-action-default);
}

.row-selected {
    background-color: rgba(255, 255, 255, 0.05);
}

.row-selected-active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* MudBlazor overrides */
.mud-main-content {
    height: 100vh;
}

.mud-dialog-width-xs {
    max-width: 300px;
}

    .mud-dialog-width-xs .mud-dialog-content {
        padding: 0;
    }

.mud-dialog-title {
    min-height: 50px;
}

.mud-dialog-title > .mud-icon-button {
    padding: 6px;
}


a:hover {
    cursor: pointer;
}

.mud-select {
    flex-grow: 0;
}

.mud-table-toolbar {
    background-color: var(--mud-palette-surface);
    height: initial;
}

.mud-primary-text {
    color: white !important;
}

.mud-navmenu.mud-navmenu-bordered .mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-selected-item {
    border-inline-start-style: solid;
    border-inline-start-width: 2px;
    border-inline-end: none;
    border-inline-color: var(--mud-palette-primary);
}

.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled),
.mud-selected-item {
    background-color: transparent !important;
}

.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
    color: #e6e6e6;
}

.playlist-selector-dialog .mud-dialog-content {
    height: 600px;
    display: flex;
    flex-direction: column;
}

.mud-dialog.no-title .mud-dialog-title {
    display: none;
}

.mud-checkbox {
    pointer-events: all;
}

.mud-data-grid .mud-table-cell .column-header {
    justify-content: flex-start;
}

.mud-table-cell {
    vertical-align: middle;
}

.small-input .mud-input-root {
    padding: 8px !important;
}

.mud-menu.full-width > button {
    width: 100%;
}

.mud-chip-text {
    background-color: transparent;
}

    .mud-chip-text:hover:not(.mud-disabled), .mud-chip-text:focus-visible:not(.mud-disabled) {
        background-color: rgba(255, 255, 255, 0.1);
    }