.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.background-transparent {
    background: transparent;
}

/* MudBlazor overrides */
.mud-main-content {
    height: 100vh;
}

.mud-dialog-width-xs {
    max-width: 300px;
}

    .mud-dialog-width-xs .mud-dialog-content {
        padding: 0;
    }

.mud-dialog-title {
    min-height: 50px;
}

.mud-dialog-title > .mud-icon-button {
    padding: 6px;
}


a:hover {
    cursor: pointer;
}

.mud-select {
    flex-grow: 0;
}

.mud-table-toolbar {
    background-color: var(--mud-palette-surface);
}

.mud-primary-text {
    color: white !important;
}

.mud-navmenu.mud-navmenu-bordered .mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-selected-item {
    border-inline-start-style: solid;
    border-inline-start-width: 2px;
    border-inline-end: none;
    border-inline-color: var(--mud-palette-primary);
}

.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled):hover:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled):focus-visible:not(.mud-nav-link-disabled),
.mud-selected-item {
    background-color: transparent !important;
}

.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled),
.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon {
    color: #e6e6e6;
}

.playlist-selector-dialog .mud-dialog-content {
    max-height: 600px;
    overflow-y: auto;
}

.mud-dialog.no-title .mud-dialog-title {
    display: none;
}

.mud-checkbox {
    pointer-events: all;
}

.mud-data-grid .mud-table-cell .column-header {
    justify-content: flex-start;
}

.mud-table-cell {
    vertical-align: middle;
}
