@inherits ReactiveComponent

@page "/improve"
@using MapMaven.Core.Models;

<div class="d-flex full-height overflow-hidden">
    <ImprovementTweaker OnMapSelectionChanged="OnMapSelectionChanged"></ImprovementTweaker>
    <MapBrowser @ref="MapBrowser" Maps="MapList" RankedMaps="true" Width="calc(100% - 240px)">
        <RowContent>
            <RankedMapBrowserRow FilteredMaps="context.FilteredMaps"></RankedMapBrowserRow>
        </RowContent>
    </MapBrowser>
</div>

@code {
    [Inject]
    protected IMapService MapService { get; set; }

    MapBrowser MapBrowser { get; set; }

    IEnumerable<Map> MapList { get; set; } = new List<Map>();

    protected override void OnInitialized()
    {
        SubscribeAndBind(MapService.RankedMaps, maps => MapList = maps);
    }

    void OnMapSelectionChanged(MapSelectionConfig mapSelectionConfig)
    {
        var selectedMaps = MapBrowser.GetFilteredMaps()
            .Skip(mapSelectionConfig.MapSelectStartFromNumber - 1)
            .Take(mapSelectionConfig.MapSelectNumber);

        MapService.SetSelectedMaps(selectedMaps);
    }
}